#version=RHEL7
# Action
install

# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="EPEL" --baseurl=http://dl.fedoraproject.org/pub/epel/7/x86_64

# Accept Eula
eula --agreed

reboot
# Use network installation
# url --url="http://mirrors.usc.edu/pub/linux/distributions/centos/7/os/x86_64"
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# System language
lang en_US.UTF-8
keyboard us

# Network information
network  --bootproto=dhcp --device=enp0s3 --noipv6 --activate
network  --hostname=centos7.local
# Root password
rootpw systemview
# System services
services --enabled=NetworkManager,sshd,chronyd
# System timezone
timezone America/Los_Angeles --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
user --groups=wheel --homedir=/home/vsi --name=vsi --password=systemview --gecos="vsi"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
zerombr
# Partition clearing information
clearpart --all --drives=sda

# Selinux State
selinux --permissive

%packages
@base
@core
chrony

%end

%post
# Don't require tty terminal for sudo
sed -i -e 's/\(Defaults\s\+requiretty.*\)/#\1/g' /etc/sudoers
# Don't require password for sudo
echo 'vsi ALL=(ALL:ALL) NOPASSWD: ALL' >> /etc/sudoers.d/99-vsi
%end
